%h2 Certificates     
%table.table.table-striped.table-hover
  %thead
    %tr
      %th Common Name
      %th 
  %tbody
    - @certificates.each do |crt|
      %tr
        %td 
          = crt.cn
        %td
          %a.info.btn.btn-small{ :href => "/admin/certificates/#{crt.cn}/info", "data-get" => "modal", "data-title" => "Certificate Info" } Info
          .btn-group                           
            %a.btn.btn-small.btn-primary.dropdown-toggle{ :href => "#", "data-toggle" => "dropdown" } 
              Download
              %span.caret
            %ul.dropdown-menu
              %li
                %a{ href: "/admin/certificates/#{crt.cn}.crt" } Certificate
                
              - unless crt.cn === CONFIG['ca']['root']['cn']               
                %li
                  %a{ href: "/admin/certificates/chain/#{crt.cn}.crt" } Chain
                %li
                  %a{ href: "/admin/certificates/#{crt.cn}.pem" } Private Key
              
              - unless crt.cn === CONFIG['ca']['root']['cn'] or crt.cn === CONFIG['ca']['intermediate']['cn']
                %li
                  %a{ href: "/admin/certificates/decrypted/#{crt.cn}.pem" } Unencrypted Private Key
                %li
                  %a{ href: "/admin/certificates/#{crt.cn}.p12" } Bundled PKCS #12
                  
          - unless crt.cn === CONFIG['ca']['root']['cn'] or crt.cn === CONFIG['ca']['intermediate']['cn']
            %a.btn.btn-danger.btn-small{ :href => "/admin/certificates/#{crt.cn}/revoke" }
              %i.icon-white.icon-remove
              Revoke
			  
-if !@revokeds.empty?
  %legend Revoked Certificates     			  
  %table.table.table-striped.table-hover
    %thead
      %tr
        %td Common Name
        %td 
    %tbody
      - @revokeds.each do |crt|
        %tr
          %td 
            = crt.cn
          %td 
            %form{ :action => "/admin/revokeds/#{crt.id}", :method => 'POST' }
              %input{ type: 'hidden', name: '_method', value: 'DELETE' } 
              %button.btn.btn-danger.btn-small{ :type => 'submit' }
                %i.icon-white.icon-remove
                Delete