%h2 Certificates 
%table.table.table-striped.table-hover.table-sm
  %thead
    %tr
      %th Common Name
      %th
  %tbody
    - @certificates.each do |crt|
      %tr
        %td
          = crt.cn
        %td.pull-right
          .btn-group
            %a.btn.btn-sm.btn-info{ :href => "/admin/certificates/#{crt.cn}/info", "data-get" => "modal", "data-title" => "Certificate Info" }
              %i.fa.fa-info-circle
              %span.hidden-sm-down Info
            .btn-group
              %a.btn.btn-sm.btn-primary.dropdown-toggle.bt-download{ :href => "#", "data-toggle" => "dropdown" } 
                %i.fa.fa-download
                %span.hidden-sm-down Download
                %span.caret
              .dropdown-menu.dropdown-menu-right
                %a.dropdown-item{ href: "/admin/certificates/#{crt.cn}.crt" } Certificate
            
                - unless crt.cn === CONFIG['ca']['root']['cn']               
                  %a.dropdown-item{ href: "/admin/certificates/chain/#{crt.cn}.crt" } Chain
                  %a.dropdown-item{ href: "/admin/certificates/#{crt.cn}.pem" } Private Key
          
                - unless crt.cn === CONFIG['ca']['root']['cn'] or crt.cn === CONFIG['ca']['intermediate']['cn']
                  %a.dropdown-item{ href: "/admin/certificates/decrypted/#{crt.cn}.pem" } Unencrypted Private Key
                  %a.dropdown-item{ href: "/admin/certificates/#{crt.cn}.p12" } Bundled PKCS #12
            - unless crt.cn === CONFIG['ca']['root']['cn'] or crt.cn === CONFIG['ca']['intermediate']['cn']
              %a.btn.btn-danger.btn-sm{ :href => "/admin/certificates/#{crt.cn}/revoke" }
                %i.fa.fa-remove
                %span.hidden-sm-down Revoke
                
-if !@revokeds.empty?
  %legend Revoked Certificates     			  
  %table.table.table-striped.table-hover
    %thead
      %tr
        %td Common Name
        %td 
    %tbody
      - @revokeds.each do |crt|
        %tr
          %td 
            = crt.cn
          %td 
            %form{ :action => "/admin/revokeds/#{crt.id}", :method => 'POST' }
              %input{ type: 'hidden', name: '_method', value: 'DELETE' } 
              %button.btn.btn-danger.btn-sm{ :type => 'submit' }
                %i.fa.fa-trash
                %span.hidden-sm-down Delete
