%legend Certificates     
%table.table.table-striped.table-hover
  %thead
    %tr
      %td Common Name
      %td 
  %tbody
    - @certificates.each do |crt|
      %tr
        %td 
          = crt.cn
        %td 
          %a.btn.btn-primary{ href: "/admin/certificates/#{crt.cn}.crt" } Certificate
          %a.btn{ href: "/admin/certificates/chain/#{crt.cn}.crt" } Chain
          %a.btn{ href: "/admin/certificates/#{crt.cn}.pem" } Private Key
          - unless crt.cn === CONFIG['ca']['root']['cn'] or crt.cn === CONFIG['ca']['intermediate']['cn']
            %a.btn{ href: "/admin/certificates/decrypted/#{crt.cn}.pem" } Decrypted Private Key
            %a.btn{ href: "/admin/certificates/#{crt.cn}.p12" } PKCS12		  
            %a.btn.btn-danger{ :href => "/admin/certificates/#{crt.cn}/revoke" }
              %i.icon-white.icon-remove
              Revoke
			  
-if !@revokeds.empty?
  %legend Revoked Certificates     			  
  %table.table.table-striped.table-hover
    %thead
      %tr
        %td Common Name
        %td 
    %tbody
      - @revokeds.each do |crt|
        %tr
          %td 
            = crt.cn
          %td 
            %form{ :action => "/admin/revokeds/#{crt.id}", :method => 'POST' }
              %input{ type: 'hidden', name: '_method', value: 'DELETE' } 
              %button.btn.btn-danger{ :type => 'submit' }
                %i.icon-white.icon-remove
                Delete