%h2 Certificate Schema
- if @cschemas.any?
  %legend Available Certificate Schemas
  %table.table.table-striped.table-hover.table-sm
    %thead
      %tr
        %th Organization
        %th Location
        %th State
        %th Country
        %th
    %tbody
      - @cschemas.each do |cschema|
        %tr
          %td
            = cschema.o
          %td 
            = cschema.l
          %td
            = cschema.st
          %td 
            = cschema.c
          
          %td.float-right
            %form{ :action => "/admin/cschemas/#{cschema.id}", :method => 'POST', :onsubmit => "return confirm('Are you sure you want to delete this schema?')"  }
              %input{ type: 'hidden', name: '_method', value: 'DELETE'} 
              %button.btn.btn-danger.btn-sm{ :type => 'submit' }
                %i.fas.fa-trash
                %span.d-none.d-md-inline Delete
                  
%form#cschema.form-horizontal{ action: '/admin/cschemas', method: 'post' }
  %fieldset.form-group
    %legend Create Certificate Schema
    .row
      .col-xs-12.col-md-6
        .form-group
          %label{ for: 'o' } Organisation
          %input.form-control#o{ name: 'cschema[o]', type: 'text', placeholder: 'e.g. ACME Ltd', value: @cschema.nil? ? '' : @cschema[:o] }
        .form-group
          %label{ for: 'l' } Locality
          %input.form-control#l{ name: 'cschema[l]', type: 'text', placeholder: 'e.g. Birmingham', value: @cschema.nil? ? '' : @cschema[:l] }
        .form-group
          %label{ for: 'st' } State
          %input.form-control#st{ name: 'cschema[st]', type: 'text', placeholder: 'e.g. West Midlands', value: @cschema.nil? ? '' : @cschema[:st] }
        .form-group
          %label{ for: 'c' } Country Code
          %input.form-control#c{ name: 'cschema[c]', type: 'text', placeholder: 'e.g. GB', value: @cschema.nil? ? '' : @cschema[:c] }
        
    .form-group
      %button.btn.btn-primary{ type: 'submit' } Create New
      - if !@cschema.nil?
        %a.btn.btn.btn-secondary{ href: '/admin/cschemas/cancel' } Cancel
