%legend Selected Certificate Signing Request
%table.table.table-striped.table-hover
  %thead
    %tr
      %td Common Name
      %td Organisation
      %td Locality
      %td State
      %td Country Code
  %tbody
    %tr
      %td 
        = @csr.cn
      %td 
        = @csr.o
      %td 
        = @csr.l
      %td 
        = @csr.st
      %td 
        = @csr.c

%form#csr.form-horizontal{ action: "/admin/csrs/#{@csr.cn}/sign", method: 'post' }
  %fieldset
    %legend Select key Usage
    .control-group.span12
      -locals[:keyusages].map do |usage,default|
        .controls.span1
          %label.checkbox{ for: "keyusage[#{usage}]" }
            %input{:type=>"checkbox", :name=>"keyusage[#{usage}]", :value=>1, :checked=>default} #{usage} 
        
    %legend Select Extened key Usage
    .control-group.span12
      -locals[:extendedkeys].map do |ext,default|
        .controls.span1
          %label.checkbox{ for: 'extendedkey[#{ext}]' }		
            %input{:type=>"checkbox", :name=>"extendedkey[#{ext}]", :value=>1, :checked=>default} #{ext}

    %legend Enter Passphrases to Sign CSR
    .control-group
      %label.control-label{ for: 'intermediate' } Intermediate CA Key
      .controls
        %input#intermediate{ name: 'passphrase[intermediate]', type: 'password', placeholder: '' }
    .control-group
      %label.control-label{ for: 'certificate' } Certificate Key
      .controls
        %input#certificate{ name: 'passphrase[certificate]', type: 'password', placeholder: '' }
    .control-group
      .controls
        %button.btn.btn-primary{ type: 'submit' } Create Certificate